@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply bg-black;
    }
  }
  
  
  @keyframes fadeIn {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
    
.fade-in {
  animation: fadeIn 2.0s ease-in-out;
}

.fade-in-500 {
  animation: fadeIn 2.0s ease-in-out;
}

.fade-in-500-delay {
  animation-delay: 10s;
}

.fade-in-1000 {
  animation: fadeIn 2.0s ease-in-out;
}
   
  /* star animation */
  .twinkling-stars {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 1;
    }
    
    .star {
      position: absolute;
      background-color: white;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      opacity: 0;
      animation: twinkle 3s infinite alternate;
    }
    
    @keyframes twinkle {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  
  p {
    text-indent: 20px;
  }

/* This used to work for the parent element of button divs */
/* But it does not work with newer browsers, the below doesn't hide the play button parent div */

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}